body {
    margin: 50px 80px;
    background-color: antiquewhite;
}

.anh {
    display: flex;
    position: relative;
}

.anh-thumb {
    width: 100%;
    height: 50vh;
}

.label-search {
    position: absolute;
    margin: 50px auto 200px 500px;
}

.collection {
    font-size: 80px;
    color: black;
    padding: 20px;
}

.search {
    border: none;
    padding: 20px;
    border-radius: 30px;
    margin-left: 100px;
    width: 480px;
}

.bottom-layout {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.bottom_first-li {
    padding: 32px;
    border-radius: 20px;
    background-color: white;
    color: darkorange;
}

.bottom_first-li:hover {
    background-color: darkorange;
    color: white;
}

.buy-button {
    border: none;
    background-color: orange;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
}

.product-text {
    margin-left: 40%;
}

@media screen and (max-width: 1200px) {
    .anh-thumb {
        height: 35vh;
    }

    .label-search {
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .collection {
        font-size: 46px;
        text-align: center;
    }

    .search {
        margin-left: 0px;
    }

    .bottom-layout {
        display: block;
    }

    .bottom-layout .bottom-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
    }

    .bottom-layout .bottom-item .bottom_first-li {
        width: 100%;
    }

    .bottom-layout .bottom-item .product-text {
        margin: 0;
    }

    .buy-button {
        width: max-content;
    }
}

@media screen and (max-width: 991px) {
    body {
        padding: 16px;
        margin: 0;
    }

    .collection {
        font-size: 28px;
    }

    .search {
        width: 300px;
    }

    .bottom-layout .bottom-item .bottom_first-li {
        padding: 8px;
    }
}