body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F4F4F4;
}

.container {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 6px;
    width: 540px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
}

input {
    width: 456px;
    height: 26px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 8px;
}

button {
    width: 44px;
    height: 42px;
    background-color: #218838;
    border: none;
    color: white;
    border-radius: 4px;
}

.output {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 10px;
}