* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 576px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .clubname {
        color: #F06C25;
    }

    .banner {
        width: 100%;
        height: auto;
    }

    .about {
        font-family: Baloo 2;
        font-weight: 600;
        line-height: 76.9px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }

    .welcome {
        color: #F06C25;
        font-family: Baloo 2;
        font-size: 26px;
        font-weight: 600;
        line-height: 51.26px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        text-align: center;
    }

    .introduce {
        font-family: Baloo 2;
        font-size: 20px;
        font-weight: 500;
        line-height: 32.04px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #000000;
        text-align: center;
    }

    .nav {
        text-align: center;
    }

    .frame2 {
        margin: 50px 0;
        text-align: center;
    }

    .activities,
    .anh1,
    .anh2,
    .anh3,
    .anh4,
    .anh5,
    .anh6,
    .anh7 {
        margin: 20px 0;
    }

    .anh7 {
        width: 90%;
        height: auto;
    }

    .footer {
        border-top: 1px solid #F06C25;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .clubname {
        color: #F06C25;
        font-family: Baloo 2;
        font-size: 28px;
        font-weight: 600;
        line-height: 44.86px;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .banner {
        width: 100%;
        height: auto;
    }

    .about {
        margin: 50px 0 10px 0;
        font-family: Baloo 2;
        font-size: 48px;
        font-weight: 600;
        line-height: 76.9px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .welcome {
        color: #F06C25;
        font-family: Baloo 2;
        font-size: 36px;
        font-weight: 600;
        line-height: 51.26px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        text-align: center;
    }

    .introduce {
        font-family: Baloo 2;
        font-size: 30px;
        font-weight: 500;
        line-height: 32.04px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #000000;
        text-align: center;
    }

    .nav {
        text-align: center;
    }

    .detail {
        margin-bottom: 30px;
    }

    .frame2 {
        margin: 50px 0;
        text-align: center;
    }

    .activities {
        font-family: Baloo 2;
        font-size: 48px;
        font-weight: 600;
        line-height: 76.9px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .activities,
    .anh1,
    .anh2,
    .anh3,
    .anh4,
    .anh5,
    .anh6,
    .anh7 {
        margin: 20px 0;
    }

    .anh7 {
        width: 90%;
        height: auto;
    }

    .footer {
        border-top: 1px solid #F06C25;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
}

@media (min-width:769px) and (max-width:991px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .clubname {
        color: #F06C25;
        font-family: Baloo 2;
        font-size: 28px;
        font-weight: 600;
        line-height: 44.86px;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .banner {
        width: 100%;
        height: auto;
    }

    .about {
        margin: 50px 0 10px 0;
        font-family: Baloo 2;
        font-size: 48px;
        font-weight: 600;
        line-height: 76.9px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .welcome {
        color: #F06C25;
        font-family: Baloo 2;
        font-size: 36px;
        font-weight: 600;
        line-height: 51.26px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        text-align: center;
    }

    .introduce {
        font-family: Baloo 2;
        font-size: 30px;
        font-weight: 500;
        line-height: 32.04px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #000000;
        text-align: center;
    }

    .nav {
        text-align: center;
    }

    .detail {
        margin-bottom: 30px;
    }

    .frame2 {
        margin: 50px 0;
        text-align: center;
    }

    .activities {
        font-family: Baloo 2;
        font-size: 48px;
        font-weight: 600;
        line-height: 76.9px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-bottom: 20px;
    }

    .container {
        display: grid;
        grid-template-columns: 340px 340px;
        grid-template-rows: 220px 220px 220px 220px 220px;
        gap: 20px;
        justify-content: center;
    }

    .anh1 {
        grid-row: 1/3;
    }

    .anh3 {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .anh2 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .anh4 {
        grid-column: 2/3;
        grid-row: 3/4;
        width: 340px;
        height: 220px;
        object-fit: cover;
        object-position: 80% 20%;
        border-radius: 16px;
    }

    .anh5 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .anh6 {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .anh7 {
        grid-column: 1/3;
        grid-row: 5/6;
        width: 700px;
        height: 220px;
        object-fit: cover;
        border-radius: 16px;
    }

    .footer {
        border-top: 1px solid #F06C25;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
}

@media (min-width:993px) and (max-width:1199px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .clubname {
        color: #F06C25;
        font-family: Baloo 2;
        font-size: 28px;
        font-weight: 600;
        line-height: 44.86px;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .banner {
        width: 100%;
        height: auto;
    }

    .about {
        margin: 50px 0 10px 0;
        font-family: Baloo 2;
        font-size: 48px;
        font-weight: 600;
        line-height: 76.9px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .welcome {
        color: #F06C25;
        font-family: Baloo 2;
        font-size: 36px;
        font-weight: 600;
        line-height: 51.26px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .introduce {
        font-family: Baloo 2;
        font-size: 30px;
        font-weight: 500;
        line-height: 32.04px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #000000;
    }

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .detail {
        margin-bottom: 30px;
    }

    .frame2 {
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
    }

    .activities {
        font-family: Baloo 2;
        font-size: 48px;
        font-weight: 600;
        line-height: 76.9px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin: 50px 0;
    }

    .container {
        display: grid;
        grid-template-columns: 340px 340px 340px;
        grid-template-rows: 220px 220px 220px 220px;
        gap: 20px;
        justify-content: center;
    }

    .anh1 {
        grid-row: 1/3;
    }

    .anh2 {
        grid-column: 2/3;
    }

    .anh3 {
        grid-column: 3/4;
        grid-row: 1/3;
    }

    .anh4 {
        grid-column: 2/3;
        grid-row: 2/4;
    }

    .anh5 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .anh6 {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    .anh7 {
        grid-column: 1/4;
        grid-row: 4/5;
    }


    .footer {
        border-top: 1px solid #F06C25;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
}

@media (min-width:1200px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .clubname {
        color: #F06C25;
        font-family: Baloo 2;
        font-size: 28px;
        font-weight: 600;
        line-height: 44.86px;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .banner {
        width: 100%;
        height: auto;
    }

    .about {
        margin: 50px 0 10px 0;
        font-family: Baloo 2;
        font-size: 48px;
        font-weight: 600;
        line-height: 76.9px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-top: 100px;
    }

    .welcome {
        color: #F06C25;
        font-family: Baloo 2;
        font-size: 36px;
        font-weight: 600;
        line-height: 51.26px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .introduce {
        font-family: Baloo 2;
        font-size: 30px;
        font-weight: 500;
        line-height: 32.04px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #000000;
    }

    .nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .detail {
        margin-bottom: 30px;
        width: 60%;
    }

    .frame2 {
        margin: 50px 0;
        text-align: center;
    }

    .activities {
        font-family: Baloo 2;
        font-size: 48px;
        font-weight: 600;
        line-height: 76.9px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .container {
        display: grid;
        grid-template-columns: 340px 340px 340px;
        grid-template-rows: 220px 220px 220px 220px;
        gap: 20px;
        justify-content: center;
    }

    .anh1 {
        grid-row: 1/3;
    }

    .anh2 {
        grid-column: 2/3;
    }

    .anh3 {
        grid-column: 3/4;
        grid-row: 1/3;
    }

    .anh4 {
        grid-column: 2/3;
        grid-row: 2/4;
    }

    .anh5 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .anh6 {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    .anh7 {
        grid-column: 1/4;
        grid-row: 4/5;
    }


    .footer {
        border-top: 1px solid #F06C25;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
}