body {
    background-color: #F4F4F9;
}

.men_container,
.jewelery_container,
.electronics_container,
.women_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
}

img {
    width: 242px;
    height: 300px;
    padding: 10px;
    object-fit: contain;
    /* Ảnh giữ tỷ lệ, không bị cắt */
}

.title {
    font-size: larger;
}

.descrip {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    font-size: small;
}

.price {
    color: #E63946;
    font-weight: 700;
    font-size: x-large;
}

.rating {
    margin-top: 6px;
    color: #FFAF26;
}